
/**
 * ESDR Flipped customizations
 */
body > div.esdr-flipped > header.l-header > div.container {
  background-image: url(../../../../files/esdrpbanner.png);
  height: 120px;
}
body > div.esdr-flipped > header.l-header > div.container > div.block-system-header header.navbar.navbar-default {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  border: none;
}
body > div.esdr-flipped > header.l-header > div.container > div.block-system-header header.navbar.navbar-default div.navbar-header a {
  font-size: 30px;
  color: white;
  margin-top: 35px;
  margin-left: 100px;
}
body > div.esdr-flipped > header.l-header > div.container > div.block-system-header header.navbar.navbar-default ul {
  float: right !important;
}
body > div.esdr-flipped > header.l-header > div.container > div.block-system-header header.navbar.navbar-default ul a {
  color: white;
}
body > div.esdr-flipped > header.l-header > div.container > div.block-system-header > div.block-content {
  color: inherit;
}
body > div.esdr-flipped > header.l-header div.block-block-custom-search-form-block {
  float: right;
  display: inline-block;
}
body > div.esdr-flipped > header.l-header div.block-block-custom-search-form-block div {
  display: inline-block;
}
body > div.esdr-flipped > header.l-header div.block-block-custom-search-form-block form input.form-search {
  padding: 0;
  display: inline-block;
}


div.block-block-custom-search-form-block {
  padding-top: 10px;
  float: right;
  z-index: 1;
}
/* weird ass bootstrap thing */
table a:not(.btn), .table a:not(.btn) {
  text-decoration: none !important;
}
div.view-display-id-result_page td
, div.view-display-id-result_block td {
  width: 50%;
  vertical-align: top;
  padding: 10px;
}
div.view-display-id-result_page div.result_dates
, div.view-display-id-result_block div.result_dates
{
  white-space: nowrap;
}

div.page-header {
  margin-top: 20px;
}

/**
 * Landing Page header menu
 */
section.l-top-banner div.block-menu-menu-landing-pages {
  float: right;
}

/**
 * Style for restricted results
 */
tr.odd.-RESTRICTED:not(.unpublished), tr.even.-RESTRICTED:not(.unpublished), tr.RESTRICTED:not(.unpublished), div.RESTRICTED {
  background-color: #FEF9E7;
}
tr.odd.-NO-1676:not(.unpublished), tr.even.-NO-1676:not(.unpublished), tr.NO-1676:not(.unpublished), div.NO-1676 {
  background-color: #FEF9E7;
}

/**
 * Bold the labels of boolean checkbox fields
 */
div.field-type-list-boolean label {
  font-weight: bold;
}

/**
 * Add space above comments
 */
section.comments {
  padding-top: 50px;
}

/**
 * Display Other Contacts inline
 */
div.paragraphs-item-contact div.content div.field {
  display: inline-block;
  padding-right: 10px;
}

/**
 * Inline Result Type checkbox filters
 */
div.form-item-field-result-type-tid div.bef-checkboxes div.form-type-bef-checkbox {
  display: inline-block;
  padding-right: 10px;
}
