/**
 * Layout
 *
 * All layout theming should go in this file
 * general html page elements and non-forms/buttons/footer/header
 * these defaults come from the Bartik theme
 * Big thanks to Jen Simmons for these defaults https://www.drupal.org/u/jensimmons
 */
@charset "UTF-8";

/* ------------------ Table Styles ------------------ */

table {
    border: 0;
    border-spacing: 0;
    font-size: 0.857em;
    margin: 10px 0;
    width: 100%;
}

table table {
    font-size: 1em;
}

table tr th,
table tr th a,
table tr th a:hover {
    font-weight: bold;
}

table tbody tr th {
    vertical-align: top;
}

tr td,
tr th {
    padding: 4px 9px;
    border: 1px solid $white;
    text-align: left;
    /* LTR */
}

[dir="rtl"] tr td,
[dir="rtl"] tr th {
    text-align: right;
}

table ul.links {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

table ul.links li {
    padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
    /* LTR */
}

[dir="rtl"] .block ol,
[dir="rtl"] .block ul {
    padding: 0 1em 0.25em 0;
}

.contextual-links-wrapper {
    font-size: small !important;
}

ul.contextual-links {
    font-size: 0.923em;
}

.contextual-links-wrapper a {
    text-shadow: 0 0 0 !important;
}

.item-list .pager {
    font-size: 0.929em;
}

ul.menu li {
    margin: 0;
}

.region-content ul,
.region-content ol {
    margin: 1em 0;
    padding: 0 0 0.25em 2.5em;
    /* LTR */
}

[dir="rtl"] .region-content ul,
[dir="rtl"] .region-content ol {
    padding: 2.5em 0 0.25em 0;
}

ul.tips {
    padding: 0 0 0 1.25em;
    /* LTR */
}

[dir="rtl"] ul.tips {
    padding: 0 1.25em 0 0;
}

/* ------------------ Layout ------------------ */

/* All layouts */
.l-container,
.l-top,
.l-messages,
.l-header-inner,
.l-featured,
.l-triptych,
.l-footer-columns {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.l-triptych-wrapper {
    border-top: 1px solid #e7e7e7;
}

/* Push the footer down to the bottom of the page. */
.layout {
    box-sizing: border-box;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    clear: both;
}

body.admin-bar .layout {
    padding-top: 30px;
    margin-top: -30px;
}

.l-container,
.l-triptych {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.l-header,
.l-top,
.l-messages,
.l-footer-wrapper,
.l-footer {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* ------------------- Main ------------------- */

.l-container {
    margin-top: 130px;
    margin-bottom: 40px;
}

.l-messages {
    margin-top: 130px;
}

/* ----------------- Top ----------------- */

.l-top {
    margin-top: 20px;
}

/* ----------------- Content ------------------ */

.content {
    margin-top: 10px;
}

h1#page-title {
    font-size: 2em;
    line-height: 1;
    margin-top: .5em;
}

main h2 {
    margin-bottom: 2px;
    font-size: 1.429em;
    line-height: 1.4;
}

.node .content {
    font-size: 1.071em;
}

.view-mode-teaser .content {
    font-size: 1em;
}

.view-mode-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}

.view-mode-teaser {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.view-mode-teaser.sticky {
    padding: 0 15px 15px;
}

.view-mode-teaser .content {
    clear: none;
    line-height: 1.6;
}

.meta {
    font-size: 0.857em;
    margin-bottom: -5px;
}

.submitted .user-picture img {
    float: left;
    /* LTR */
    height: 20px;
    margin: 1px 5px 0 0;
    /* LTR */
}

[dir="rtl"] .submitted .user-picture img {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}

.field-type-taxonomy-term-reference {
    margin: 0 0 1.2em;
}

.field-type-taxonomy-term-reference .field-label {
    font-weight: normal;
    margin: 0;
    padding-right: 5px;
    /* LTR */
}

[dir="rtl"] .field-type-taxonomy-term-reference .field-label {
    padding-left: 5px;
    padding-right: 0;
}

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
    font-size: 0.8em;
}

.view-mode-teaser .field-type-taxonomy-term-reference .field-label,
.view-mode-teaser .field-type-taxonomy-term-reference ul.links {
    font-size: 0.821em;
}

.field-type-taxonomy-term-reference ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.field-type-taxonomy-term-reference ul.links li {
    float: left;
    /* LTR */
    padding: 0 1em 0 0;
    /* LTR */
    white-space: nowrap;
}

[dir="rtl"] .field-type-taxonomy-term-reference ul.links li {
    padding: 0 0 0 1em;
    float: right;
}

article .link-wrapper {
    text-align: right;
}

[dir="rtl"] article .link-wrapper {
    text-align: left;
}

.field-type-image img,
.user-picture img {
    margin-bottom: 1em;
}

article .link-wrapper ul.links {
    font-size: 0.821em;
}

.unpublished {
    margin: -20px -15px 0;
    padding: 20px 15px 0;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
    margin-bottom: 1em;
}

.comment div.user-picture img {
    margin-left: 0;
    /* LTR */
}

[dir="rtl"] .comment div.user-picture img {
    margin-right: 0;
}

.comment {
    margin-bottom: 20px;
    display: table;
    vertical-align: top;
}

.comment .attribution {
    display: table-cell;
    padding: 0 30px 0 0;
    /* LTR */
    vertical-align: top;
    overflow: hidden;
}

[dir="rtl"] .comment .attribution {
    float: right;
    padding: 0 0 0 30px;
}

.comment .attribution img {
    margin: 0;
    border: 1px solid #d3d7d9;
}

.comment .attribution .username {
    white-space: nowrap;
}

.comment .submitted p {
    margin: 4px 0;
    font-size: 1.071em;
    line-height: 1.2;
}

.comment .submitted .comment-time {
    font-size: 0.786em;
}

.comment .submitted .comment-permalink {
    font-size: 0.786em;
}

.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}

.comment .comment-arrow {
    background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
    /* LTR */
    border-left: 1px solid;
    border-right: 1px solid;
    height: 40px;
    margin-left: -47px;
    /* LTR */
    margin-top: 10px;
    position: absolute;
    width: 20px;
}

[dir="rtl"] .comment .comment-arrow {
    background-image: url(../images/comment-arrow-rtl.gif);
    margin-left: 0;
    margin-right: -47px;
}

.comment .comment-text {
    padding: 10px 25px;
    border: 1px solid #d3d7d9;
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 100%;
}

.comment .indented {
    margin-left: 40px;
    /* LTR */
}

[dir="rtl"] .comment .indented {
    margin-right: 40px;
    margin-left: 0;
}

.comment ul.links {
    padding: 0 0 0.25em 0;
}

.comment ul.links li {
    padding: 0 0.5em 0 0;
    /* LTR */
}

[dir="rtl"] .comment ul.links li {
    padding: 0 0 0.5em;
}

.comment-unpublished {
    margin-right: 5px;
    /* LTR */
    padding: 5px 2px 5px 5px;
    /* LTR */
}

[dir="rtl"] .comment-unpublished {
    margin-left: 5px;
    margin-right: 0;
    padding: 5px 5px 5px 2px;
}

.comment-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.l-sidebar .block {
    border: 1px solid;
    padding: 15px 20px;
    margin: 0 0 20px;
}

.l-sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 $white;
    font-size: 1.071em;
    line-height: 1.2;
}

.l-sidebar .block .content {
    font-size: 0.914em;
    line-height: 1.4;
}

.l-sidebar tbody {
    border: none;
}

/* ----------------- Triptych ----------------- */

.l-triptych h2 {
    font-size: 1.714em;
    margin-bottom: 0.8em;
    text-shadow: 0 1px 0 $white;
    text-align: center;
    line-height: 1;
}

.l-triptych .block {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.3;
}

.l-triptych .block.last {
    border-bottom: none;
}

.l-triptych .block ul li,
.l-triptych .block ol li {
    list-style: none;
}

.l-triptych .block ul,
.l-triptych .block ol {
    padding-left: 0;
}

.l-triptych .block-user-login .form-text {
    width: 185px;
}

.l-triptych .block-node-syndicate h2 {
    overflow: hidden;
    width: 0;
    height: 0;
}

.l-triptych-last .block-node-syndicate {
    text-align: right;
}

.l-triptych .block-search-form .form-type-search input {
    width: 185px;
}

.block-system-powered-by {
    text-align: center;
}

/* --------------- System Tabs  --------------- */

.tabs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

.tabs ul.primary {
    padding: 0 3px;
    margin: 0;
    overflow: hidden;
    border: none;
    background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}

.tabs ul.primary li {
    display: block;
    float: left;
    /* LTR */
    vertical-align: bottom;
    margin: 0 5px 0 0;
    /* LTR */
}

[dir="rtl"] .tabs ul.primary li {
    margin: 0 0 0 5px;
    float: right;
}

.tabs ul.primary li a {
    height: 1.8em;
    line-height: 1.9;
    display: block;
    font-size: 0.929em;
    float: left;
    /* not LTR */
    padding: 0 10px 3px;
    margin: 0;
    text-shadow: 0 1px 0 $white;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
}

.tabs ul.secondary {
    border-bottom: none;
    padding: 0.5em 0;
}

.tabs ul.secondary li {
    display: block;
    float: left;
    /* LTR */
}

[dir="rtl"] .tabs ul.secondary li {
    float: right;
}

.tabs ul.secondary li:last-child {
    border-right: none;
    /* LTR */
}

[dir="rtl"] .tabs ul.secondary li:last-child {
    border-left: none;
}

.tabs ul.secondary li:first-child {
    padding-left: 0;
    /* LTR */
}

[dir="rtl"] .tabs ul.secondary li:first-child {
    padding-right: 0;
}

.tabs ul.secondary li a {
    padding: 0.25em 0.5em;
}

.tabs ul.secondary li a.active {
    border-bottom: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.action-links {
    list-style: none;
    margin: 5px;
    padding: 0.5em 1em;
}

ul.action-links li {
    display: inline-block;
    margin-left: 10px;
}

ul.action-links li a {
    padding-left: 15px;
    background: url(../images/add.png) no-repeat left center;
    margin: 0 10px 0 0;
}

[dir="rtl"] ul.action-links li a {
    background-position: right center;
    padding-left: 0;
    padding-right: 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb {
    font-size: 0.929em;
    padding: 0;
}

.breadcrumb ol {
    margin: 0;
    padding: 0;
}

/* -------------- User Profile   -------------- */

.profile .user-picture {
    float: none;
}

/* -------------- Other Overrides ------------- */

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
    padding: 1em;
}

/* --------------- Search Results ---------------- */
ol.search-results {
    padding-left: 0;
}

.search-results li {
    border-bottom: 1px solid #d3d7d9;
    padding-bottom: 0.4285em;
    margin-bottom: 0.5em;
}

.search-results li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1em;
}

.search-results .search-snippet-info {
    padding-left: 0;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin main img {
    margin-right: 15px;
    /* LTR */
}

.page-admin main .simpletest-image img {
    margin: 0;
}

.page-admin #admin-dblog img {
    margin: 0 5px;
}

/* Configuration. */
div.admin .right,
div.admin .left {
    width: 49%;
    margin: 0;
}

div.admin-panel {
    margin: 10px 0;
    padding: 0 5px 5px;
}

div.admin-panel h3 {
    margin: 16px 7px;
}

div.admin-panel dt {
    border-top: 1px solid $lightgrey;
    padding: 7px 0 0;
}

div.admin-panel dd {
    margin: 0 0 10px;
}

div.admin-panel .description {
    margin: 0 0 14px 7px;
}

/* ---------- book ----------- */
.book-navigation .menu {
    border-top: 1px solid #d6d6d6;
}

.book-navigation .book-pager {
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    margin: 0;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 450px) {
    th.priority-low,
    td.priority-low,
    th.priority-medium,
    td.priority-medium {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    th.priority-low,
    td.priority-low {
        display: none;
    }
    .l-container, .l-messages {
        margin-top: 120px;
    }
    .l-sidebar .block {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 11px;
    }
    .layout--two-column .l-content, .layout--two-column .l-sidebar {
        padding: 0 5px;
    }
}
