$legacy_support_for_ie: false;
$normalize_headings: true;
/* Colors */
$white: #fefefe;
$black: #252525;
$realblack: #000;
$lightgrey: #ccc;
$darkgrey: #555;
$base-text-color: $black;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;
$base-link-color: rgb(28, 184, 65);
$base-link-hover-color: rgb(223, 117, 20);

/* Font stuff */

$base-font-family: Helvetica, Arial, sans-serif;
$normalized_font_family: sans-serif;

$base-font-size: 16px;
$base-line-height: 1.5em;

$h1_font_size: 2em;
$h2_font_size: 1.5em;
$h3_font_size: 1.17em;
$h4_font_size: 1em;
$h5_font_size: 0.83em;
$h6_font_size: 0.75em;

$h1_margin: 0.67em 0;
$h2_margin: 0.83em 0;
$h3_margin: 1em 0;
$h4_margin: 1.33em 0;
$h5_margin: 1.67em 0;
$h6_margin: 2.33em 0;

$h1_padding: 0;
$h2_padding: 0;
$h3_padding: 0;
$h4_padding: 0;
$h5_padding: 0;
$h6_padding: 0;

// Grid
$calc_columns: 12;
$calc_gutter: 20px;
$calc_width: 1080px;

$gutter: ($calc_gutter / $base-font-size) + 0em;
$grid-padding: $gutter/2;
$max-width: ($calc_width / $base-font-size) + 0em;
$column: ($max-width - ($gutter * ($calc_columns - 1)) - ($grid-padding * 2)) / $calc_columns;
$column-width: $column;
$column-gutter: $gutter;

// Breakpoints
$breakpoint_1: 35em;
$breakpoint_2: 55em;